In [1]:
import pandas as pd

In [8]:
df = pd.read_excel("/Users/wilsonforero/Desktop/uyprocessed.xlsx",header=None)

In [9]:
df

                0   1  2  3       4
0          Aaeryn  54  0  1  female
1      Aajonathan  54  1  0    male
2           Aalan  54  1  0    male
3         Aamelia  54  0  1  female
4         Aanahia  54  0  1  female
...           ...  .. .. ..     ...
22942  Zxjhonatan  54  1  0    male
22943        Zyro  54  1  0    male
22944     Ñeranei  54  0  1  female
22945       Ñuber  54  2  0    male
22946       Ñuska  54  0  1  female

[22947 rows x 5 columns]

In [12]:
df=df.loc[df[4] == "male"]

In [27]:
names=["Pedro Juan Mejía", "Sofia Arango", "Wilson Forero", "Laura Merchan", "Xxol Pérez"] #EJEMPLO

In [ ]:
# "names" debe ser igual a la columna de nombres de congresista los cuales no tienen sexo clasificado

In [28]:
sexo=[]
for name in names:
    nombre_completo=name.split()
    primer_nombre=nombre_completo[0]
    ultima_letra=primer_nombre[-1]
    if ultima_letra=="a":
        sexo.append("Mujer")
    elif primer_nombre in df[0].tolist():
        sexo.append("Hombre")
    else:
        sexo.append("REVISAR")

In [29]:
sexo

['Hombre', 'Mujer', 'Hombre', 'Mujer', 'revisar']

In [ ]:
#se debe agregar la columa sexo a la base de datos final